.newTokenContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.newTokenCard {
    position: relative;
    /* slightly wider for horizontal layout */
    border-radius: 10px;
    padding: 0.5rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    text-decoration: none;
}

.newTokenContent {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.newTokenImage {
    width: 70px;
    /* smaller coin image */
    height: 70px;
    object-fit: cover;
    border: 2px solid var(--color-accent-light);
}

.newTokenNameSide {
    font-size: 0.7rem;
    color: var(--color-neutral-600);
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.pageContainer {
    max-width: 1200px;
    height: 90vh;
    color: var(--color-neutral-900);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    margin-bottom: 2rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0.25rem;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-neutral-700);
    margin-bottom: 1rem;
}

.aboutText {
    line-height: 1.5;
    font-weight: 500;
    white-space: pre-line;
    /* keep line breaks */
    font-size: 1rem;
    font-style: italic;

}

.stats {
    display: flex;
    flex-direction: column;
    font-size: .85rem;
    margin-bottom: 2rem;
}

.statItem {
    color: var(--color-accent-dark);
    font-weight: 700;
}

.section {
    margin-bottom: 3rem;
}

.sectionTitle {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
}

.imageFallback {
    width: 70px;
    height: 70px;
    background-color: var(--color-neutral-300);
    border-radius: 8px;
    border: 2px dashed var(--color-neutral-400);
}

.actionsSection {
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.ctaButton {
    display: inline-block;
    padding: 0.25rem .5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s ease, color 0.25s ease;
    cursor: pointer;
    border: 1px solid transparent;
}

.primary {
    background-color: var(--color-accent);
    color: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-900);
}

.primary:hover {
    background-color: var(--color-neutral-100);
    color: var(--color-accent);
}